/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #333;
    line-height: 1.6;
    margin: 5px;
}

/* Container utama */
.container {
    width: 90%;
    max-width: 1200px;
    margin-left: 5px;
    margin-right: 5px;
}

/* Header */
.header {
    color: black;
    text-align: left;
    padding: 5px;
}

.header h1 {
    color: green;
}

/* Menu */
.menu {
    background: none;
    margin-top: 10px;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.menu ul li {
    margin: 5px 5px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
    background-color: gray;
    border-radius: 5px;
}

/* Konten + Sidebar */
.main {
    display: flex;
    gap: 20px;
}

/* Konten */
.content {
    flex: 3;
    border-radius: 8px;
    margin-top: 10px;
}

.content h2 {
    color: green;
    line-height: 60px;
    font-size: 25px;
}

.content a {
    color: black;
}

/* Sidebar */
.sidebar {
    flex: 1;
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: rgb(218, 212, 212);
}

.sidebar h3 {
    color: green;
    line-height: 60px;
}

/* Footer */
.footer {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
}
