/* Container utama */
.container {
  display: grid;
  grid-template-areas: 
    "header"
    "main"
    "sidebar"
    "footer";
  grid-template-columns: 1fr; 
  gap: 0px;
  font-family: serif;
  background-color: brown; /* warna latar belakang luar */
  padding: 10px;
}

/* Header */
.header {
  grid-area: header;
  color: white;
  text-align: left;
  line-height: 1.5;
  padding: 10px;
  border-radius: 5px;
}

.content h2 {
  color: brown;
}

.content a {
  color: brown;
}

/* Main (gabungan menu + konten) */
.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 3fr 1fr; /* kiri menu, kanan konten */
  gap: 10px;
  background: white;
  padding: 10px;
}

/* Menu */
.menu {
  order: 2;
  padding: 10px;
  border-radius: 5px;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  margin-bottom: 8px;
}

.menu ul li a {
  display: block;
  padding: 8px;
  border: 1px solid brown;
  text-decoration: none;
  background: brown;
  border-radius: 20px;
  color: rgb(255, 254, 254);
  text-align: center;
  font-weight: bold;
}

/* Konten */
.content {
  order: 1;
  background: white;
  padding: 15px;
  border-radius: 5px;
}

/* Sidebar */
.sidebar {
  grid-area: sidebar;
  background: rgb(255, 206, 114);
  color: brown;
  padding: 10px;
}

/* Footer */
.footer {
  grid-area: footer;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
